@font-face {
  font-family: Archive;
  src: url('fonts/Archive.otf');
}
@font-face {
  font-family: Cornerstone;
  src: url('fonts/Cornerstone.ttf');
}

body{
  font-family: Archive;
  font-size: 16px;
  color: green;
  text-decoration:none;
}

h1{
  font-size: 48px;
  margin: 8px 0;
}

.main{
  padding: 0 32px;
}

.centered{
  text-align: center;
  vertical-align: middle;
}

.bignav{
  text-align: center;
  vertical-align: middle;
  text-decoration:none;
  list-style: none;
  font-size: 50px;
}


header{
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 100px;
}

a{
  text-decoration:none;
  color: black;
}

.headerContent{
  width: 1024px;
  height: auto;
  margin: 0 auto;
  background: white;
  text-align: center;
  font-size: 120px;
}


footer{
  position: absolute;
  padding: 16px 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);

}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;


}

.panel-heading{
  font-family: Archive;
  padding: 10px 10px 0px 10px;
  margin: 0;
}

.panel-body{
  width: 100%;
  height: auto;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: Archive;
  border-style: dashed;
  border-color: black;
  padding: 20px 10px 20px 10px;
  margin: 0;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  text-decoration:none;
  color: black;

}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: black;
  height: 12px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
